[![Abrir en Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/m-durand/propedeutico_python/blob/main/notebooks/1_introduccion_a_python.ipynb)

# Propedéutico a programación con Python.

**Verano 2023, por el Centro de Ciencia de Datos, EGobiernoyTP.**

En este curso, aprenderemos los comandos básicos de Python que nos permitirán hacer análisis de datos, especialmente para datos más o menos grandes.

### Sesión 1: Introducción a Python

1.  ¿Qué es y cómo funciona Python?
2.  ¿Qué es un notebook?
3.  Variables
4.  Operadores
    - Tipos de operadores
5.  Comentarios
    - Comentario de una sola línea
    - Comentario multilinea
6.  Tipo de datos
    - Números
    - Strings
    - Listas
    - Tuplas
    - Sets
    - Diccionarios

## 1. ¿Qué es y cómo funciona Python? 

Python es un lenguaje de programación que interpreta, es decir, es convierte código comprensible para humanos en código comprensible para máquinas. 

Es un lenguaje de programación muy versátil, que se utiliza para una gran variedad de tareas que van desde el análisis de datos hasta el desarrollo de páginas web y software.

## 2. ¿Qué es un notebook? 

Los notebooks son un tipo de archivo que nos permite ejecutar código de Python (principalmente). Están compuestos de celdas. En términos generales, existen dos tipos de celdas: las de texto (como esta, en la que nos encontramos) y las de código (como la siguiente). En los notebooks, las celdas de texto nos ayudan a mantener una historia, explicar e interpretar las tablas y gráficas que resulten del análisis, y en general mantener una estructura amigable para compartir nuestro trabajo con otras personas.

Existe otro tipo de archivos comúnmente utilizado para código de python: aquellos terminados en `.py`, que solamente contienen código ejecutable. Este formato es el más amigable para la computadora, que no necesita las interpretaciones sino solamente las instrucciones.

Para este curso, utilizaremos **Google Colab**. Es una plataforma que permite correr Python en servidores de Google. Para poder trabajar sobre ellos, es decir, "correr el código", es necesario presionar el botón "Open in Colab" que se encuentra al principio de cada uno. Esto abrirá una nueva ventana con una copia del notebook que es solamente para ustedes, que podrán editar con su propio trabajo. Para poder guardarla, deben hacerlo de manera explícita en Google Drive: por medio del menú Archivo->Guardar una copia en Drive.

In [1]:
print("¡Hola, mundo!")

¡Hola, mundo!

## 3. Variables

En Python, una variable es guardar en memoria la asignación de un nombre a algún valor.

In [2]:
a = 5

In [3]:
a

5

In [4]:
print(a)

5

In [5]:
b = 10

In [6]:
b

10

In [7]:
c = 'Hola'

In [8]:
c

'Hola'

##### Ejercicio 1:

Declara tres diferentes variables que tengan los valores de 29, 17 y 30, para los nombres `x`, `y` y `z`, respectivamente.

In [15]:
# Respuesta

## 4. Operadores

Los operadores son un conjunto de símbolos que se utilizan para definir una tarea computacional entre variables

### 4.1 Operaciones aritméticas

In [9]:
# Suma
a + b

15

In [10]:
# Resta
b - a

5

In [11]:
# Multiplicación
a * b

50

In [12]:
# División
b / a

2.0

In [13]:
# Exponente
a**b

9765625

In [14]:
# Módulo
a%b

5

##### Ejercicio 2:

Con las variables que declaraste en el ejercicio 1, realiza las operaciones necesarias para obtener 493, 1.76 y 59.

In [ ]:
# Respuesta

### 4.2 Operadores de asignación

In [18]:
# Asignación del valor derecho a la expresión en el operando izquierdo (asignacion de variables)
d = 2

In [19]:
d

2

In [20]:
# Agrega y asigna operando izquierdo
d += a

In [21]:
d

7

In [22]:
a

5

In [23]:
# Substrae y asigna operando izquierdo
d -= a

In [25]:
d

2

##### Ejercicio 3

Asigna y agrega una variable `w` que de como resultado 33, utilizando `z`.

In [26]:
# Respuesta

### 4.3 Operadores de comparación

In [27]:
1 <= 2

True

In [28]:
1 < 2

True

In [29]:
1 >= 2

False

In [30]:
1 > 2

False

In [31]:
1 != 1

False

In [32]:
1 != 2

True

In [33]:
1 == 1

True

### 4.4 Otros operadores:

In [34]:
# Identity operators: Para comparar objetos en memoria.
x = 6; y = 4
print(x is y)
print(x is not y)

False
True

In [35]:
print(
    '''
    Logical operators
    -----------------
    - and
    - or 
    - not
    
    '''
)

    Logical operators
    -----------------
    - and
    - or
    - not

In [36]:
print(
    '''
    Membership operators
    ----------
    - in
    - not in
    '''
)

    Membership operators
    ----------
    - in
    - not in

## 5. Comentarios

Comentarios son parte del código que se ignora a la hora de compilar. Se usa principalmente para explicar el código.

In [37]:
# Esto es un comentario de una línea

In [38]:
## Comentario de otra línea también

In [39]:
'''Comentario de una línea'''

'Comentario de una línea'

In [40]:
# Comentario
## de
### múltiples
#### líneas

In [41]:
'''
Comentario 
de 
múltiples
líneas
'''

'\nComentario \nde \nmúltiples\nlíneas\n'

## 6. Tipos de dato

Esto explica el tipo de valor que tiene una variable. 

Son básicamente 6:

1. Boolean: 
    - True or False
2. Númericos: 
    - Int, float, complex
3. String
4. Formatting

### 6.1 Boolean:

Los resultados son Verdadero o Falso, ya lo vimos estos con los operadores de comparación.

Para revisar el tipo de dato, usa `type()`.

In [50]:
buleano = 6 > 7

buleano

False

In [51]:
type(buleano)

bool

### 6.2 Números

Enteros, flotantes y números complejos.

In [52]:
a = 10
print('Tipo de dato a:', type(a), '; valor:',a)

b = 4.5
print('Tipo de dato b:', type(b), '; valor:',b)

c = 1+6j
print('Tipo de dato b:', type(c), '; valor:',c)

Tipo de dato a: <class 'int'> ; valor: 10
Tipo de dato b: <class 'float'> ; valor: 4.5
Tipo de dato b: <class 'complex'> ; valor: (1+6j)

###  6.3 Strings

Secuencia de caracteres, se coloca entre `""` o `''`.

In [53]:
a = 'Hola'

In [54]:
type(a)

str

### 6.4 Formatting

Para unir strings con el valores numéricos, **string interpolation**.

In [60]:
planeta = 'Jupiter'
lunas = 79

mensaje = 'El planeta {}, tiene {} lunas'.format(planeta, lunas)

print(mensaje)

El planeta Jupiter, tiene 79 lunas

##### Ejercicio 4

Escribe dos mensajes diferentes:
- Que diga tu nombre y tu edad.
- Que diga el número de vaquitas marinas que existen en el mundo y donde viven.

In [61]:
# Respuesta

## 7. Tipo de estructura de datos

1. Listas
2. Tuplas
3. Conjunto (set)
4. Diccionario
    - keys and values

### 7.1 Listas

Las listas son una secuencia de elementos ordenados. Se definen con el uso de `[ ]`.

In [157]:
mi_lista = [98, 'David', 8.6, 100]

In [158]:
type(mi_lista)

list

In [159]:
# para objener la posición 0 de la lista
mi_lista[0]

98

In [160]:
# Posición 1
mi_lista[1]

'David'

In [162]:
# Posición -1, va en el sentido contrario
mi_lista[-1]

100

In [164]:
mi_lista[-3]

'David'

Se dice que las listas son **mutables**, por lo que puedes modificarlas, eliminar o agregar elementos.

In [129]:
lista_a = [1,2,3,4,5]

In [130]:
lista_b = [6,7,8,9,10]

In [131]:
# Extender lista
lista_a.extend(lista_b)

In [132]:
lista_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
# Agregar lista
lista_b.append(lista_a)

In [134]:
lista_b
# observa que se agrega como un elemento la lista_a, 
# a diferencia de extend donde cada elemento se agrega de manera individual

[6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [135]:
lista_a.append(11)
# También puedes agregar elemento por elemento con append

In [136]:
lista_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 7.2 Tuplas

Una tupla es similar a la lista, es decir, son valoress ordenado pero la diferencia es que las tuplas son **inmutables**, por lo que NO puedes cambiar sus elementos.  

Dependiento del contexto, las tuplas pueden ser de gran ayuda en lugar de listas. Primero porque son más rápidas operacionalmente que las listas, y segundo porque son más seguras pues no se puede modificar una vez declarada. 

Éstas se definen con `( )`.

In [142]:
mi_tupla = (99, 'Andrea', 7.6, 99)

In [143]:
type(mi_tupla)

tuple

In [145]:
mi_tupla

(99, 'Andrea', 7.6, 99)

In [146]:
tupla_a = (58,74,37,38)

In [148]:
tupla_a + tupla_a

(58, 74, 37, 38, 58, 74, 37, 38)

### 6.5 Conjunto (set)

Es una secuencia de objetivos no ordenados, es menos famoso pero muy útil para diversas cosas. No tiene ningún valor repetido, a diferencia de las listas y las tuplas. En los conjuntos puedes realizar operaciones como unión, intersección. Para definir un conjunto utilizamos `{ }`

In [139]:
mi_set = {9,10,11}

In [140]:
type(mi_set)

set

###  6.6 Diccionario

Es una colección no ordenada de valores y llaves. Los diccionarios se utilizan principalmente para almacenar grandes cantidades de datos. Para definirlos utilizamos `{key: value}`

In [141]:
dictt1 = {'num' : 'd01', 'nombre' : 'Pablo', 'edad':26}
dictt2 = {
          'num' : ['d01','d02'],
          'name' : ['Pablo', 'Karla'],
          'batch' : [26,27] 
           }
print(dictt2.keys())   ### Prints all the keys in a list
print(dictt2.values()) ### Prints all the values

dict_keys(['num', 'name', 'batch'])
dict_values([['d01', 'd02'], ['Pablo', 'Karla'], [26, 27]])