[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/m-durand/propedeutico_python/blob/main/notebooks/3_if_for_loops.ipynb)

# Propedéutico a programación con Python.

**Verano 2023, por el Centro de Ciencia de Datos, EGobiernoyTP.**

### Sesión 3: Paquetes, ambientes virtuales.

1. Paquetes
   - pip
   - Ambientes Virtuales
2. Cargar archivos

## 1. Paquetes

Un paquete en python es una colección de módulos y funciones que se colocan juntas para realizar una cierta tarea. Es básicamente un directorio con archivos de python, tu puedes crear los tuyos o utilizar paquetes por otros desarrolladores. 

### 1.1 Pip

Pip es un sistema de administración de paquetes que se utiliza para instalar y administrar librerías externas en python.

``pip install <package_name>``

Ejemplo:

``pip install pandas``

Para importar entonces los paquetes que utilizaremos a lo largo del propedético te recomendamos colocar los siguientes paquetes más utilizados.

### 1.2 Importar paquetes

Una vez instalados los paquetes para hacer uso de ellos debes de importarlos de la siguiente manera:

In [1]:
import numpy as np
import pandas as pd

### 1.3 Ambientes virtuales

Cuando trabajas en python con diferentes paquetes, te darás cuenta que unos paquetes dependen de otros. A veces, estos paquetes requieren multiples versiones que si se conjuntan con otros paquetes comenzarás a tener problemas de instalación. 

Lo que se debe de realizar para no tener este problema es utilizar lo que se conoce como ambientes virtuales. Lo que hacen los ambientes virtuales es enpaquetar o juntar los paquetes que tu quieras y los separa de otros paquetes. Se recomienda tener un ambiente por cada proyecto diferente que tengas. 

Uno de los ambientes virtuales más utilizados es `virtualenv`. Que simplemente se crea con:

``virtualenv <my_env_name>``

Para activarlo con:

``source <my_env_name>/bin/activate``

Para desactivarlo con:

``deactivate``

Para este curso propedéutico no se utilizarán ambientes virtuales, pero durante tu maestría los utilizarás comúnmente, por lo que te recomendamos conocer de esta herramienta.

## 2. Cargar archivos

Una manera de abrir archivos en python es con la operación ``open()`` y para cerrarlos es con ``close()``. Existen diferentes maneras en las que puedes abrir un archivo como: write(w), read(r), append(a), etc.

Revisa que el directorio de trabajo se va a la carpeta de datos, si quitas los puntitos estarías tomando la dirección dentro de la carpeta de notebooks pero ahí no están los datos.

In [2]:
with open('../datos/alice.txt') as f:  
    lines = f.readlines()

In [3]:
lines

["Alice opened the door and found that it led into a small passage, not much larger than a rat-hole: she knelt down and looked along the passage into the loveliest garden you ever saw. How she longed to get out of that dark hall, and wander about among those beds of bright flowers and those cool fountains, but she could not even get her head though the doorway; `and even if my head would go through,' thought poor Alice, `it would be of very little use without my shoulders. Oh, how I wish I could shut up like a telescope! I think I could, if I only know how to begin.' For, you see, so many out-of-the-way things had happened lately, that Alice had begun to think that very few things indeed were really impossible."]

#### Cargar csv con pandas

In [4]:
df = pd.read_csv('../datos/edades.csv')

In [5]:
df

    ID      Name  Edad
0  d01     Pablo    26
1  d02     Karla    27
2  d03      Juan    29
3  d04  Carolina    28
4  d05     Pedro    40

In [6]:
# Función de pandas para cambiar los nombres de las columnas a minúsculas
df.rename(str.lower, axis='columns', inplace=True)

In [7]:
df

    id      name  edad
0  d01     Pablo    26
1  d02     Karla    27
2  d03      Juan    29
3  d04  Carolina    28
4  d05     Pedro    40

In [8]:
# Para guardar cambios en un csv
df.to_csv('../datos/edades.csv', index=False)

In [9]:
df

    id      name  edad
0  d01     Pablo    26
1  d02     Karla    27
2  d03      Juan    29
3  d04  Carolina    28
4  d05     Pedro    40