# Propedéutico a programación con Python.

**Verano 2023, por el Centro de Ciencia de Datos, EGobiernoyTP.**

### Sesión 4: 

pandas
numpy
cargar archivos con pandas

In [4]:
# Paquetes
import numpy as np
import pandas as pd

### Algunas líneas de set-up útiles

**Para ver 200 filas en el notebook**

In [5]:
pd.set_option('display.max_rows', 2000)

**Para ver 10 columnas en el notebook**

In [6]:
pd.set_option('display.max_columns', 10)

### Leer datos con pandas

In [16]:
# Datos
df = pd.read_csv('../datos/proyecciones.csv')

## 1. ¿Cuántas variables y observaciones tenemos?

In [17]:
df.shape

(2693, 73)

In [18]:
# Renglones
df.shape[0]

2693

In [19]:
# Columnas
df.shape[1]

73

In [20]:
# Nombre de columnas
df.columns

Index(['RENGLON', 'AÑO', 'ENTIDAD', 'CVE_GEO', 'CRE_NAT', 'CRE_SOC', 'CRE_TOT',
       'DEF', 'EDAD_MED', 'EMI_EST', 'EMI_INT', 'EVH', 'EVM', 'EV',
       'HOM_MIT_AÑO', 'IND_ENV', 'INM_EST', 'INM_INT', 'MIG_NET_EST',
       'MIG_NET_INT', 'MUJ_MIT_AÑO', 'NAC', 'POB_MIT_AÑO', 'MUJ_12_14',
       'MUJ_15_17', 'MUJ_15_19', 'MUJ_15_29', 'MUJ_15_49', 'MUJ_18_24',
       'MUJ_20_24', 'MUJ_3_5', 'MUJ_30_64', 'MUJ_6_11', 'MUJ_65_MAS',
       'HOM_12_14', 'HOM_15_17', 'HOM_15_19', 'HOM_15_29', 'HOM_15_49',
       'HOM_18_24', 'HOM_20_24', 'HOM_3_5', 'HOM_30_64', 'HOM_6_11',
       'HOM_65_MAS', 'POB_12_14', 'POB_15_17', 'POB_15_19', 'POB_15_29',
       'POB_15_49', 'POB_18_24', 'POB_20_24', 'POB_3_5', 'POB_30_64',
       'POB_6_11', 'POB_65_MAS', 'RAZ_DEP_ADU', 'RAZ_DEP_INF', 'RAZ_DEP',
       'T_BRU_MOR', 'T_BRU_NAT', 'T_CRE_NAT', 'T_CRE_SOC', 'T_CRE_TOT',
       'T_EMI_EST', 'T_INM_EST', 'T_MIG_NET_EST', 'T_MIG_NET_INT', 'TMIH',
       'TMIM', 'TMI', 'TEF_ADO', 'TGF'],
      dtype='object')

In [21]:
# Las primeras 5 observaciones
df.head(5)

,RENGLON,AÑO,ENTIDAD,CVE_GEO,CRE_NAT,...,TMIH,TMIM,TMI,TEF_ADO,TGF
0,1,1950,República Mexicana,0,771494,...,138.63,120.64,129.85,149.49,6.57
1,2,1951,República Mexicana,0,797550,...,139.83,121.47,130.87,152.02,6.66
2,3,1952,República Mexicana,0,867222,...,130.46,113.15,122.02,153.13,6.72
3,4,1953,República Mexicana,0,882943,...,136.19,117.92,127.28,154.67,6.78
4,5,1954,República Mexicana,0,974839,...,119.73,103.49,111.81,154.93,6.77

In [22]:
# Las últimas 5 observaciones
df.tail(5)

,RENGLON,AÑO,ENTIDAD,CVE_GEO,CRE_NAT,...,TMIH,TMIM,TMI,TEF_ADO,TGF
2688,2689,2046,Zacatecas,32,10394,...,6.34,5.17,5.77,61.18,1.91
2689,2690,2047,Zacatecas,32,9948,...,6.11,4.98,5.56,60.89,1.90
2690,2691,2048,Zacatecas,32,9504,...,5.87,4.80,5.35,60.60,1.89
2691,2692,2049,Zacatecas,32,9045,...,5.65,4.62,5.15,60.38,1.88
2692,2693,2050,Zacatecas,32,8624,...,5.44,4.45,4.96,60.15,1.88

In [23]:
# Muestra aleatoria de 5 observaciones, con semilla para que sea reproducible.
df.sample(5,random_state=123)

,RENGLON,AÑO,ENTIDAD,CVE_GEO,CRE_NAT,...,TMIH,TMIM,TMI,TEF_ADO,TGF
1205,1206,2021,Jalisco,14,89963,...,10.63,8.78,9.73,62.51,2.02
882,883,2022,Durango,10,20590,...,14.52,11.76,13.17,63.62,2.10
1245,1246,1980,México,15,216599,...,51.65,41.77,46.83,105.17,4.53
1596,1597,2007,Nuevo León,19,65333,...,13.93,11.32,12.65,70.45,2.24
647,648,2030,Chiapas,7,93854,...,15.96,12.82,14.43,77.40,2.48

In [26]:
# Muestra aletoria del 10% de las observaciones con semilla para que sea reproducible.
df.sample(frac=0.01, random_state=123)

,RENGLON,AÑO,ENTIDAD,CVE_GEO,CRE_NAT,...,TMIH,TMIM,TMI,TEF_ADO,TGF
1205,1206,2021,Jalisco,14,89963,...,10.63,8.78,9.73,62.51,2.02
882,883,2022,Durango,10,20590,...,14.52,11.76,13.17,63.62,2.10
1245,1246,1980,México,15,216599,...,51.65,41.77,46.83,105.17,4.53
1596,1597,2007,Nuevo León,19,65333,...,13.93,11.32,12.65,70.45,2.24
647,648,2030,Chiapas,7,93854,...,15.96,12.82,14.43,77.40,2.48
948,949,2007,Guanajuato,11,94059,...,20.85,16.70,18.83,68.70,2.58
315,316,2022,Baja California Sur,3,9929,...,10.88,8.94,9.93,67.89,2.12
2335,2336,2017,Tamaulipas,28,42823,...,13.62,11.12,12.40,70.53,2.27
2618,2619,1976,Zacatecas,32,35187,...,81.02,68.24,74.78,114.99,6.95
1852,1853,2020,Querétaro,22,27468,...,13.10,10.65,11.90,59.74,2.01
103,104,1972,Aguascalientes,1,13058,...,66.14,54.56,60.49,101.82,6.82
597,598,1980,Chiapas,7,72437,...,87.78,75.04,81.56,167.61,5.74
208,209,1996,Baja California,2,43508,...,22.55,17.75,20.21,82.53,2.69
1286,1287,2021,México,15,169775,...,14.46,11.56,13.05,61.67,1.87
1722,1723,1971,Puebla,21,103998,...,88.79,75.27,82.20,157.88,7.60
1961,1962,2048,Quintana Roo,23,9297,...,4.16,3.47,3.82,52.30,1.59
746,747,2048,Chihuahua,8,7971,...,5.58,4.60,5.10,57.97,1.61
1829,1830,1997,Querétaro,22,28995,...,25.39,20.30,22.91,72.57,2.97
1725,1726,1974,Puebla,21,109470,...,83.39,70.42,77.06,158.06,7.24
249,250,2037,Baja California,2,22956,...,5.94,4.99,5.48,52.99,1.63
632,633,2015,Chiapas,7,101927,...,23.54,19.23,21.44,91.56,2.82
2679,2680,2037,Zacatecas,32,14226,...,8.91,7.23,8.09,64.07,2.01
853,854,1993,Durango,10,35253,...,31.46,25.49,28.55,99.08,3.67
961,962,2020,Guanajuato,11,76516,...,15.36,12.43,13.93,68.03,2.13
1476,1477,2049,Morelos,17,5334,...,4.03,3.08,3.57,61.06,1.78
1832,1833,2000,Querétaro,22,29723,...,22.93,18.32,20.68,67.74,2.74
553,554,2017,Colima,6,9298,...,12.25,10.01,11.16,70.33,2.15

## 2. Tipos de datos por columna

In [28]:
df.dtypes

RENGLON            int64
AÑO                int64
ENTIDAD           object
CVE_GEO            int64
CRE_NAT            int64
CRE_SOC           object
CRE_TOT           object
DEF                int64
EDAD_MED         float64
EMI_EST           object
EMI_INT           object
EVH              float64
EVM              float64
EV               float64
HOM_MIT_AÑO        int64
IND_ENV          float64
INM_EST           object
INM_INT           object
MIG_NET_EST       object
MIG_NET_INT       object
MUJ_MIT_AÑO        int64
NAC                int64
POB_MIT_AÑO        int64
MUJ_12_14          int64
MUJ_15_17          int64
MUJ_15_19          int64
MUJ_15_29          int64
MUJ_15_49          int64
MUJ_18_24          int64
MUJ_20_24          int64
MUJ_3_5            int64
MUJ_30_64          int64
MUJ_6_11           int64
MUJ_65_MAS         int64
HOM_12_14          int64
HOM_15_17          int64
HOM_15_19          int64
HOM_15_29          int64
HOM_15_49          int64
HOM_18_24          int64
HOM_20_24          int64
HOM_3_5            int64
HOM_30_64          int64
HOM_6_11           int64
HOM_65_MAS         int64
POB_12_14          int64
POB_15_17          int64
POB_15_19          int64
POB_15_29          int64
POB_15_49          int64
POB_18_24          int64
POB_20_24          int64
POB_3_5            int64
POB_30_64          int64
POB_6_11           int64
POB_65_MAS         int64
RAZ_DEP_ADU      float64
RAZ_DEP_INF      float64
RAZ_DEP          float64
T_BRU_MOR        float64
T_BRU_NAT        float64
T_CRE_NAT        float64
T_CRE_SOC         object
T_CRE_TOT         object
T_EMI_EST         object
T_INM_EST         object
T_MIG_NET_EST     object
T_MIG_NET_INT     object
TMIH             float64
TMIM             float64
TMI              float64
TEF_ADO          float64
TGF              float64
dtype: object

### Cambiar tipo de datos

#### Hacer variable de tipo carácter (str)

In [ ]:
df['id'] = df['id'].astype('str')

#### Hacer variable de tipo numérica: entero (int) o flotante (float64)

In [ ]:
df['id'].astype('int')

In [ ]:
df['id'].astype('float64')

In [ ]:
# Otra manera de hacer la variable numérica cuando salen errores en las otras funciones
df['num_exterior'] = pd.to_numeric(df['num_exterior'])

#### Hacer variable de tipo temporal

In [ ]:
df['date_retrieved'] = pd.to_datetime(df['date_retrieved'])

### 3. Variables categorícas

In [ ]:
# Valores únicos por variable. En las variables string aparecerán el número de categorías únicas
df.nunique()

**Si queremos evaluar más a detalle una variable categórica:**

In [ ]:
# Categorías en variable
df['sector'].unique()

In [ ]:
#  Vemos el número de observaciones por categoría de esta variable
conteos = df['sector'].value_counts()
conteos

In [ ]:
# Proporción de categorías
prop = df['sector'].value_counts(normalize=True)
prop

In [ ]:
# Lo visualizamos mejor:
pd.concat([conteos,prop], 
          keys=['num','prop'], 
          axis=1)

### 4. Variables numéricas

In [ ]:
# Todas las variables que son numéricas las describe con esas características.
df.describe()

### 5. Variables temporales

In [ ]:
# Para obtener el mes de la variable que previamente ya habíamos hecho temporal
df['mes']=df['date_retrieved'].dt.month

In [ ]:
# Año
df['date_retrieved'].dt.year

### 6. Ver número de NA's por columna

In [ ]:
df.isna().sum()

### Algunos trucos extra

Quitar columnas

In [ ]:
df.drop(['clee',
         'razon_social',
         'num_interior'], 
        axis=1, # 0 es por filas y 1 por columnas.
        inplace=True # True es para guardar los cambios sobre la misma base. 
       )

#### Seleccionando subconjuntos de la base

`.loc` vs `.iloc`

- `.loc`: utiliza las etiquetas de los índices y de las columnas, es decir el nombre como un string.

- `iloc`: utiliza la posición como entero del dataframe.

Seleccionamos todas las filas (`:`), de las columnas que están desde la posición 0 hasta la 3, y luego las columnas 4, 8, 10.

In [ ]:
df.iloc[:,0:3]

In [ ]:
df.iloc[:,[0,2,4]]

In [ ]:
# Selecciona las filas 2 hasta la 6
df.iloc[2:6,]

In [ ]:
# Selecciona filas con los índices 122, 126 y 208:
df.iloc[[122,126,208],]

Seleccionar columnas de acuerdo a las etiquetas de las columnas

In [ ]:
df.loc[:,'sector':'rama']

In [ ]:
df.loc[:,['localidad','rama','clase']]

In [ ]:
df.loc[0:1,]

## Selecionar filas basadas en condiciones

In [ ]:
df[(['num_exterior','clase','rama'])].query('5 > num_exterior')

### Para buscar las filas en las que ciertas categorías aparecen (pueden ser tantas categorías como se necesite).

In [ ]:
df['tipo_vialidad'].unique()

In [ ]:
# seleccionar solo las categorias que tienen corredor y autopista
categories_interes = ['CORREDOR', 'AUTOPISTA']
df[df['tipo_vialidad'].isin(categories_interes)]

In [ ]:
df2 = df[df['nombre'].str.contains('FARMA')]

In [ ]:
# nueva columna con el index
df2.reset_index().head()

In [ ]:
# Hace un drop del index
df2.reset_index(drop=True).head()

In [ ]:
# Quita el index sobre la base de datos df2
df2.reset_index(inplace=True)

In [ ]:
df2.head()

# Listas y arreglos

Las bases de datos se trabajan generalmente con la paquetería pandas (pd), sin embargo, existe mucha información que está desplegada de otras maneras y para utilizarla necesitas numpy (np) u otras paqueterías, ya cargadas al inicio del notebook. 

- listas
- arreglos

In [ ]:
# arreglo de repetir ccd 4 veces.
np.repeat('ccd',4)

In [ ]:
# lista de repetir ccd 4 veces
list(np.repeat('ccd',4))

In [ ]:
hola = list(np.array([8,2,9,25,4]))
hola

In [ ]:
adios = list(np.array([66,9,17,30,5]))
adios

Podemos hacer operaciones con arreglos y con listas, una manera de hacerlo sería con la siguiente.

In [ ]:
# Resta
buen_dia = list(map(lambda x,y: x-y, adios, hola))
buen_dia

Para agregar elementos a una lista de manera iterativa. Puede ser como un conjunto de listas, o una lista con todos los elementos:

In [ ]:
listas_de_listas = []

In [ ]:
# Aquí utilizamos append
for i in range(0,len(buen_dia)):
    listas_de_listas.append(np.repeat(hola[i],buen_dia[i]))

In [ ]:
listas_de_listas

In [ ]:
lista_de_listas = []

In [ ]:
# Aquí utilizamos extend
for i in range(0,len(buen_dia)):
    lista_de_listas.extend(np.repeat(hola[i],buen_dia[i]))

In [ ]:
lista_de_listas