[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/m-durand/propedeutico_python/blob/main/notebooks/7_SQL.ipynb)

# Propedéutico a programación con Python.

**Verano 2023, por el Centro de Ciencia de Datos, EGobiernoyTP.**

### Sesión 5: Más de pandas

1. Series vs DataFrame

### 1. Series vs DataFrame

Pandas soporta dos tipos de estructura de datos Series y DataFrame. La diferencia es que Pandas Series es un arreglo unidimensional etiquetado, es decir, un arreglo con nombre o una columna. De hecho, Pandas Series se construye sobre arreglos de numpy. 

Por otro lado Pandas DataFrame son estructuras con dos dimensiones (columnas y renglones). Básicamente, cada columna en un DataFrame de pandas es una Serie de pandas.

In [ ]:
df.to_numpy()

In [ ]:
df.values

In [ ]:
df.sort_values(by='column')

In [ ]:
grupos[(['etiquetas','cantidad'])].sort_values('cantidad')

In [ ]:
df2.groupby("grupos")["usuarios"].count()

In [ ]:
df2['dia_semana'] = df2['fechas'].dt.day_name()
df2['dia_mes'] = df2['fechas'].dt.day

In [ ]:
hola

We have several methods on lists here are few examples.

list_methods.py

In [ ]:
stationery_list = ["Pen", "Pencil", "Notepad"]
stationery_list.append("Eraser")
# Adds new item at the end of the list
print(stationery_list)
stationery_list.insert(2, "Files")

"""
Insert method inserts a single element into a list.It takes two arguments one is 
the numerical index at which the data is to be inserted and the other is value.
"""

print(stationery_list)
stationery_list.index("Pen")

In [ ]:

temperature = 27
if temperature <= 30:
    print("Let’s go to the party!")

In [ ]:

movie_tickets = 4
if(movie_tickets >= 4):
    print("Tickets are available, Let’s go to the movie.")
else:
    print("Let’s have a drink, tickets are not available.")

In [ ]:

weight = 77
height = 180
bmi = (weight / (height**2)) * 10000
print("Computing…")
print("Your bmi is {}\n".format(bmi))
if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi <= 24.99:
    print("Perfect ! Normal weight")
elif 25.00 <= bmi <= 30.00:
    print("Overweight")
elif bmi > 30.00:
    print("Obese")

In [ ]:
Lambda Functions to modify a column in the dataframe
Suppose if the columns in our dataframe are not in the correct format means, we need to modify the column. We can apply lambda functions on a column in a dataframe using the apply() method.

“Price” column is in object datatype. We need to change it to int data type so that we can perform mathematical operations.

“Price” column has $ symbol laso. We need to remove that and then convert it to int datatype.

Have to write lambda functions to remove the $ sign and to convert it to int datatype

lambda x: int(x[1:]) → This lambda function will remove $ sign (which is in index 0 in the “Price” column) and convert it to int datatype.

Let’s apply this lambda function using apply() method on “Price” column

df3[“Price”].apply(lambda x: int(x[1:]))
df3[“Price”]=df3[“Price”].apply(lambda x: int(x[1:]))

In [ ]:
# merge

pd.merge()